* {
    font-family: Arial, Helvetica, sans-serif;
    scrollbar-color: var(--main);
}

:root {
    --bg: #eeeeee;
    --main: #ebe8e0;
    --light: #D3DEDC;
    --lighter: #aed4cd;
}

body {
    padding-left: .1em;
}

select {
    border-radius: 5px; 
}

select, select option {
    background-color: var(--main);
}

button {
    width: 100px;
    margin-top: 1em;
    border-radius: 5px;
    background-color: var(--light);
    border: none;
    cursor: pointer;
    padding: .2em;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.25);
}

.musicLibraryContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    border-radius: 1em;
}

.playlistsContainer {
    order: 0;
    background-color: var(--bg);
    display: flex;
    flex: 60%;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.25);
    z-index: 0;
}

.playlistDeleteBtn {
    background-color: #ec646d;
}

.playlistsHeader {
    flex-basis: 100%;
    margin-left: 0.5em;
}

.playlistSidebar {
    order: 1;
    height: 100%;
    flex: 40%;
    background-color: var(--bg);
    box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.1);
    z-index: 1;
}

.playlistDiv {
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.05);
    padding-left: 1em;
    margin-top: 1em;
    padding-top: 0.1em;
}

.playlistComponent, .addPlaylistComponent {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-content: center;
    flex: 0 0 auto;
    justify-content: center;
    align-items: center;
    background-color:  var(--main);
    width: 15em;
    height: 15em;
    margin: .5em;
    padding: 1em;
    overflow: hidden;
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.25);
}

.selectedPlaylist {
    background-color: var(--lighter);
}

.addPlaylistForm, .editPlaylistForm {
    padding:2em;
}

.playlistImage, .addPlaylistImage {
    align-self: center;
    align-content: center;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    width: 60%;
    height: 60%;
    border-radius: 8px;
    background-size: cover;
    background-repeat: no-repeat;
    
}

.addPlaylistImage {
    background-color: var(--light);
    width: 50%;
    height: 50%;
    font-size: 6em;
    font-weight: normal;
}

.artistLabel, .playlistLabel {
    font-weight:bold;
    text-align: center;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
}

.addPlaylistLabel {
    margin-top: 1em;
    font-size: medium;
}

.playlistComponent:hover, .addPlaylistComponent:hover, .playlistLabel, .addPlaylistLabel, .addTrackBtn:hover, .removeTrackBtn:hover {
    cursor:pointer;
}

.playlistComponent:hover {
    background-color: var(--lighter);
}

.addTrackBtn:hover, .addPlaylistComponent:hover, .playlistEditBtn:hover {
    background-color: var(--lighter);
}

option:hover,
option:focus,
option:active,
option:checked {
    background-color: #1e90ff;
    color:white;
}


table {
    border-collapse: collapse;
    width: 100%;
    font-size: 0.9em;
}

tr {
    border-radius: 1em;
    
}

th, td {
    padding: 0.3em;
    text-align: center;
    white-space: nowrap;
}

tbody tr:nth-child(even) {
    background-color: var(--main);
}

tbody tr:nth-child(odd) {
    background-color: var(--light);
}

  .ratingCircle, .emptyRatingCircle {
      display: inline-block;
      margin: 1px;
      border-radius: 50%;
      width: 1em;
      height: 1em;
      background-color: rgb(27, 27, 27);
      border: 1px solid rgb(27, 27, 27);
  }

  .ratingCircle:hover, .emptyRatingCircle:hover {
      cursor: pointer;
  }

  .emptyRatingCircle {
    background: none;
  }

  .tdCircles {
      white-space: nowrap;
  }

.addPlaylistForm, .editPlaylistForm, .addTrackForm {
    display: flex;
    flex-direction: column;
    padding-left: 1em;
}

.removeTrackBtn {
    font-size: x-large;
    margin-top: 0;
    width: 30px;
    height: 30px;
    padding: 0;
    background-color: #ec646d;
}

input, select, button, textarea {
    width: 100%;
    margin-top: .5em;
    margin-bottom: .1em;
    resize: none;
}

.imageInputDiv {
    border-radius: 10px;
    height: 15em;
    width: 15em;
    margin-left: auto;
    padding: 1em;
    margin-right: auto;
    background-color: var(--light);
    background-size: cover;
    background-repeat: no-repeat;
}

.imageInputDiv:hover {
    opacity: 0.66;
    cursor: pointer;
}

.imageInput:hover {
    cursor: pointer;
}

.imageInput {
    opacity: 0;
    height: 100%;
    width: 100%;
}

@media screen and (max-width: 900px) {
    .musicLibraryContainer {
        flex-direction: column;
        flex-wrap: wrap;
    }

    button {
        margin-left: auto;
        margin-right: auto;
    }

    table thead {
      display: none;
      border: none;
      clip: rect(0 0 0 0);
      height: 1px;
      margin: -1px;
      overflow: hidden;
      padding: 0;
      /*position: absolute;*/
      width: 1px;
    }
    
    table tr {
      border-bottom: 3px solid #ddd;
      display: block;
      margin-bottom: .625em;
    }

    td:nth-child(even) {
        background-color: var(--main);
    }

    td:nth-child(odd) {
        background-color: var(--light);
    }
    
    table td {
      border-bottom: 1px solid #ddd;
      display: block;
      text-align: right;
      padding: 1em;
    }
    
    table td::before {
      content: attr(data-label);
      float: left;
      font-weight: bold;
      text-transform: uppercase;
    }
}